.content {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;

    padding: 20px;
}

.button-div {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.button-div button {
    padding: 8px;
    border: 1px solid #333;
    background-color: #333;
    color: white;
    border-radius: 8px;

    transition: background-color, color 0.3s;

    font: 700 20px Archivo;
    cursor: pointer;
}

.button-div button:hover {
    background-color: white;
    color: #333;
}

.button-div button i {
    margin-left: 8px;
}

.labs {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;
}

.lab-container {
    border: 1px solid #333;
    border-radius: 12px;
    padding: 8px;
    width: 45%;
    margin: 8px;

    display: flex;
    flex-direction: column;
}

.lab-container h1 {
    font: 700 32px Archivo;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lab-container h1 i {
    margin-left: auto;
    transition: color 0.3s;
    cursor: pointer;
}

.lab-container h1 i:hover {
    color: #e8d75c;
}

p.operadores {
    font: 500 18px Roboto;
    color: gray;
}

span.create {
    font: 500 18px Roboto;
    color: #333;

    flex: 1;

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}