body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0000009f;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    font-weight: 900;
}


.div_navbar {
    background-color: rgb(3, 136, 197);
    color: white;
    height: 100px;
    border-bottom: 5px black solid;
}

.div_navbar ul {
    float: left;
    text-transform: uppercase;
}

.div_navbar h1 {
    float: left;
    color: black;
}

.div_navbar li {
    list-style: none;
    margin: 18px;
    float: left;
}

.li_meio {
    float: left;
    margin-right: 225px;
    margin-left: 172px;
    
}

.div_container {
    width: 80%;
    height: auto;
    margin: auto;
   
}

.current {
    color: red; 
}

.div_banner {
    background-color: white;
    height: 626px;
    background-attachment: scroll;
    

    
}

.div_navbar img {
    width: 166px;
    float: left;
    margin-left: 180px;

}


.div_banner h1 {
    margin: 0;
    padding-top: 65px;
    text-align: center;
}

.div_banner p {
    padding-left: 414px;
    padding-right: 272px;
    margin-top: 100px;
    font-weight: 900;
    
}

.img_img1 {
    padding-top: 0;
    height: 103px;
    display: inline-block;
    float: right;
}

.img_img2 {
    float: right;
    height: 103px;
}

.div_navbarbotton {
background-color: rgb(3, 136, 197);
    color: white;
    height: 100px;
    border-top: 5px black solid;
  
    
}

.div_cadastro {
    margin-left: 224px;
    margin-top: 80px;
    display: inline-block
}

.class_empresa {
    display: inline block; 
    float: right;
    margin-right: 100px;
    margin-top: 80px;
}

.inp_esquerdo {
    margin-left: 50px;
    margin-top: 10px;
}

.inp_nome {
    margin-left: 110px;
}
.inp_sobrenome {
    margin-left: 70px;
    margin-top: 15px;
}

.inp_cpf {
    margin-left: 129px;
    margin-top: 15px;
}

.inp_e-mail {
    margin-left: 106px;
    margin-top: 15px;
}

.inp_telefone {
    margin-left: 93px;
    margin-top: 15px;
}

.inp_celular {
    margin-left: 103px;
    margin-top: 15px;
}

.inp_dataNascimento {
    margin-left: 10px;
    margin-top: 15px;
}

.inp_nomeUsuario {
    margin-left: 31px;
    margin-top: 15px;
}

.inp_senha {
    margin-left: 106px;
    margin-top: 15px;
}

.inp_confirmarSenha {
    margin-left: 34px;
    margin-top: 15px;
}

.inp_nomeEmpresa {
    margin-left: 73px;
}

.inp_nomeFantasia {
    margin-left: 12px;
    margin-top: 15px
}

.inp_cnpj {
    margin-left: 161px;
    margin-top: 15px;
}
    




